html {
    /**Reset para rems**/
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    font-family: Apex;
    height: 60px;
    padding-top: 1.5rem;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar a{
    font-size: 24px;
    color: #f3f3f3;
    text-decoration: none;
}

.navbar p{
    font-size: 20px;
}

.navbar a:hover{
    color: rgb(218,41,42);
    text-decoration: none;
}

.nav-links li{
    margin-left: 3.5rem;
}

.nav-links{
    list-style: none;
    display: flex;
    position: relative;
}
    .dropdown-content {
        display: none;
        border-radius: 5%;
        position: absolute;
        background-color: black;
        opacity: 0.9;
        z-index: 1;
    }

.dropdown-content li{
    font-size: 5px;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.imagen_logo{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin: 30px 48px;
}

.dropdown-pullright{
    background-color: rgb(218,41,42);
    padding: 8px 25px;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: 1.5rem;
    list-style: none;
    margin-bottom: 1.5rem;
}

.dropdown-pullright a:hover{
    color: white;
    text-decoration: none;
}

.dropdown-pullright a{
    font-size: 1.8rem;
    font-family: TT Lakes ;
}

.contenido-main1 img{
    margin-left: 43.5%;
    margin-top: 10%;
}

.contenido-main1 h2{
    font-family: TT Lakes;
    color: white;
    font-size: 24px;
    text-align: center
}
.bottom a{
    font-size: 1.8rem;
    color: #fff;
    font-family: TT Lakes;
    margin: 0 1.5rem;
    background-color: rgb(218,41,42);
    padding: 0.8rem 2.5rem;
    bottom: 0.7rem;
    text-decoration: none;
}
.bottom a :hover{
    color: #fff;
}

.logo-info{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
video{
    width: 100%;
}

.logo-text{
    top: 30%;
    right:30%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.logo-text h2{
    font-size: 2.4rem;
    font-weight: 900;
    z-index: 100;
    color: #fff;
    margin-bottom: 3rem;
    font-family: TT LAkes;
}

.logo-text h2 ::after{
    display: block;
    width: 30%;
}
.apex-haha{
    position: relative;
    align-items: end;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.APEX-INFO-MAIN1{
    margin-right: 35rem;
    flex-direction: column;
    display: flex;
    position: absolute;
}

.APEX-INFO-MAIN1 h2{
    font-family: Apex;
    font-size: 6.4rem;
}
.APEX-INFO-MAIN1 h6{
    font-family: TT Lakes;
    font-size: 1.8rem;
}
.APEX-INFO-MAIN1 a{
    color: #f3f3f3;
    padding: 1.6rem 2.4rem;
    font-family: TT Lakes;
    font-size: 1.8rem;
    margin: auto;
    background-color: rgb(218,41,42);
    border-radius: 5%;
    text-decoration: none;
}



@font-face{
    font-family: Apex;
    src: url(../Duke/Duke\ Fill.otf)
}

@font-face{
    font-family: TT Lakes;
    src: url(../fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Extended\ ExtraLight.ttf)
}