html {
    /**Reset para rems**/
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    font-family: Apex;
    height: 60px;
    padding-top: 1.5rem;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar a{
    font-size: 24px;
    color: #f3f3f3;
    text-decoration: none;
}

.navbar p{
    font-size: 20px;
}

.navbar a:hover{
    color: rgb(218,41,42);
    text-decoration: none;
}

.nav-links li{
    margin-left: 3.5rem;
}

.nav-links{
    list-style: none;
    display: flex;
    position: relative;
}
    .dropdown-content {
        display: none;
        border-radius: 5%;
        position: absolute;
        background-color: black;
        opacity: 0.9;
        z-index: 1;
    }

.dropdown-content li{
    font-size: 5px;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.imagen_logo{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin: 30px 48px;
}

.dropdown-pullright{
    background-color: rgb(218,41,42);
    padding: 8px 25px;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: 1.5rem;
    list-style: none;
    margin-bottom: 1.5rem;
}

.dropdown-pullright a:hover{
    color: white;
    text-decoration: none;
}

.dropdown-pullright a{
    font-size: 1.8rem;
    font-family: TT Lakes ;
}

.contenido-main1 img{
    margin-left: 43.5%;
    margin-top: 10%;
}

.contenido-main1 h2{
    font-family: TT Lakes;
    color: white;
    font-size: 24px;
    text-align: center
}
.bottom a{
    font-size: 1.8rem;
    color: #fff;
    font-family: TT Lakes;
    margin: 0 1.5rem;
    background-color: rgb(218,41,42);
    padding: 0.8rem 2.5rem;
    bottom: 0.7rem;
    text-decoration: none;
}
.bottom a :hover{
    color: #fff;
}

.logo-info{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
video{
    width: 100%;
}

.logo-text{
    top: 30rem;
    left: 60rem;
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-text h2{
    font-size: 2.4rem;
    font-weight: 900;
    z-index: 100;
    color: #fff;
    margin-bottom: 3rem;
    font-family: TT LAkes;
}

.logo-text h2 ::after{
    display: block;
    width: 30%;
}
.apex-haha{
    position: relative;
    align-items: end;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.apex-haha img{
    width: 100%;
    height: 45%;
}

.APEX-INFO-MAIN1{
    margin-right: 35rem;
    flex-direction: column;
    display: flex;
    position: absolute;
}

.APEX-INFO-MAIN1 h2{
    font-family: Apex;
    font-size: 6.4rem;
}
.APEX-INFO-MAIN1 h6{
    font-family: TT Lakes;
    font-size: 1.8rem;
}

.APEX-INFO-MAIN1 a{
    color: #f3f3f3;
    padding: 1.6rem 2.4rem;
    font-family: TT Lakes;
    font-size: 1.8rem;
    margin: auto;
    background-color: rgb(218,41,42);
    border-radius: 5%;
    text-decoration: none;
}

.apex-imagen-fov{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.apex-imagen-fov img{
    height: 80vh;
    width: 100%;
}

.new-apex h3{
    font-size: 5rem;
    font-family: Apex;
    text-align: center;
    position: absolute;
    display: flex;
    bottom: 30rem;
    margin-bottom: 15%;
}

.new-apex{
    display: flex;
    justify-content: center;
    position: absolute;
}

.new-apex img{
    margin-left: 1rem;
    width: 40rem;
    height: auto;
    margin-bottom: auto;
}

.info-apex{
    color: #fff;
    margin-left: 1rem;
    text-align: left;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    font-size: 2.4rem;
    font-family: Apex;
}

.card-new{
    margin-left: 1rem;
    padding: 2.4rem;
    background-color: black;
    text-align: left;
    margin-top: -1rem;

}

.title-red{
    margin-left: 1rem;
    color:rgb(218,41,42) ;
    font-family: Apex;
    font-size: 2.4rem;

}

.date{
    color:white;
    margin-left: 5rem;
    font-family: Apex;
    font-size: 2.2rem;

}

.sub-info{
    font-size: 1.8rem;
    font-family: TT Lakes;
}

.info-apex a{
    color: #fff;
    text-decoration: none;
}

.card-new{
    border-bottom: red solid;
}

.main-background2{
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.main-background2 img{
    height: 80vh;
    width: 100%;
}
.title-background2{
    flex-direction: column;
    position: absolute;
    display: flex;
    text-align: center;
}

.title-background2 h2{
    text-align: center;
    color: #fff;
    font-family: Apex;
    font-size: 4.8rem;
}
.title-background2 p{
    color: #fff;
    font-family: TT Lakes;
    font-size: 2.4rem;
    
}


.contedor-imgenes{
    margin: 0  auto;
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    left: 0;
    text-align: center;
    top: 0;
    width: 10%;
}

.apex-info-gameplay img{
    height: 35% ;
    width: 50rem;
}

.title-info b{
    text-align: center;
    font-family: TT Lakes;
    color: #fff;
    font-size: 2.4rem;
}
.info p{
    text-align: center;
    font-size: 1.8rem;
}



@font-face{
    font-family: Apex;
    src: url(../Duke/Duke\ Fill.otf)
}

@font-face{
    font-family: TT Lakes;
    src: url(../fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Extended\ ExtraLight.ttf)
}