html{
    font-size: 62.5%;
}

.navbar{
    font-family: Apex;
    height: 60px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar a{
    font-size: 24px;
    color: #f3f3f3;
    text-decoration: none;
}

.navbar p{
    font-size: 20px;
}

.navbar a:hover{
    color: red;
    text-decoration: none;
}

.nav-links li{
    margin-left: 3.5rem;
}

.nav-links{
    list-style: none;
    display: flex;
    position: relative;
}
    .dropdown-content {
        display: none;
        border-radius: 5%;
        position: absolute;
        background-color: black;
        opacity: 0.9;
        z-index: 1;
    }

.dropdown-content li{
    font-size: 5px;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.imagen_logo{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.dropdown-pullright{
    background-color: red;
    padding: 8px 25px;
    align-items: center;
    position: relative;
    left: 50rem;
}

.dropdown-pullright a:hover{
    color: white;
    text-decoration: none;
}

@font-face{
    font-family: Apex;
    src: url(../Duke/Duke\ Fill.otf)
}